<!DOCTYPE html>
<html>
    <body>
        <script src="../app.js"></script>
        <script type="text/javascript" src="script.js"></script>
        <div id="footer_wrapper">
            <div class="social_media">
                <p>Contact Us</p>
                <div>
                    <a href="https://www.instagram.com/littletwenty.store/?hl=en"><img src="img/instagram.png"></img></a>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © Little Twenty <%= new Date().getFullYear() %></p>
            </div>
            <div class="termNpolicy">
                <a href="">Terms of Condition</a> |
                <a href="">How to Order</a>
            </div>
        </div>
    </body>
</html>