<!DOCTYPE html>
<html>
    <body>
        <div id="top_text"><%= eventElement[0].uppertext %></div>
        <nav id="navbar">
            <label class ="hamburger" for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle"/>
            <ul class="nav">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </body>
</html>